#container {
    text-align: center;
    /*position:relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);*/
    
  }
  
  #container strong {
    font-size: 25px;
    line-height: 36px;
    color:black;
   // font-family:cursive;

  }
  
  #container p {
    font-size: 30px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;

  }
  
  #container a {
    text-decoration:line-through;
    font-size:x-large;
  }

ion-checkbox{
  --size: 20px;
  --background-checked: orange;
  

} 
  
ion-checkbox::part(container) {
    border-radius: 6px;
  border: 3px solid orange;
    size:70%;
}

ion-content{
  --background: #8ae2cc;
}

ion-item{
  color: black;
  padding: 5px 25px 5px  25px;
 border: none;
  background: rgba(238, 130, 238, 0.493);
  --backdrop-color:red;

border-radius: 40px 10px;
}

/*ion-button{
  --color: black;
  --border-width: 5px;
  --border-radius: 4px;
  --border-color: orange;
--background: white;

}*/
ion-list{
  background-color:#8ae2cc;
}

ion-item-background{
  background-color: #8ae2cc;
}